.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 60px;
    background-color: rgb(55, 54, 54);
    font-size: 20px;
    font-family: 'Yeon Sung', system-ui;
   margin-top: 50px;
}